<!DOCTYPE html>
<html>
<head>	
	<title>SMRT BANNER</title>
	<meta name="apple-itunes-app", content="app-id=<%=appId%>, app-argument=<%=appURL%>">
	<link rel="stylesheet" href="/foundation/stylesheets/foundation.min.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div class="row">
		<div class="two columns"></div>
		<div class="eight columns" id="content">
			<div class="row">
				<h2>Test Smart Banners</h2>
				<h6 class="subheader">The easy way &#8482;</h4>
				<hr>
			</div>
			<form action="/" method="post" accept-charset="utf-8">
				<div class="row">
					<input type="text" name="appId" value="" id="appId" placeholder="iTunes App ID">
				</div>
				<div class="row">
					<input type="text" name="appURL" value="" id="appURL" placeholder="Additional Arguments">
				</div>
				<div class="row">
					<input type="submit" class="button" value="Create Link">
				</div>
			</form>
		</div>
		<div class="two columns"></div>
	</div>
	<div class="row">
		<div class="two columns"></div>
		<footer class="eight columns">
			<p style="text-align:center"><span class="secondary radius label">tweet me, <a href="http://www.twitter.com/brianmichel">@brianmichel</a></span></p>
		</footer>
		<div class="two columns"></div>
	</div>
</body>
</html>
